/* HEADER */
:root body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

.header {
  color: #ffffff;
}

.link {
  text-decoration: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
}
.header-ul {
  display: flex;
  gap: 40px;
  margin: 24px 156px 24px;
  border-bottom: 1px solid #e7e9fc;
  margin-right: 156px;
}
.header-item :hover {
  color: #2e2f42;
}
.header-item :active {
  color: #2e2f42;
}
.header-item :focus {
  color: #2e2f42;
}

/*** ADDRESS ****************************************************************/

.header-address {
  font-style: normal;
  margin-right: auto;
}

.header-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-list {
  display: flex;
  margin: 24px 156px 24px;
  border-bottom: 1px solid #e7e9fc;
  margin-right: 156px;
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address:hover {
  color: #404bbf;
}

.address:focus {
  color: #404bbf;
}

/*** MAIN ********************************************************/

.main {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background: #4d5ae5;
}
.subtitel-item {
  list-style-type: none;
}
.subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*** WHAT ARE WE DOING****************************************************/

.about-work-titel {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.projects-list {
  list-style: none;
  display: flex;
}

/**** OUR TEAM***********************************************************************/

.section {
  background: #f4f4fd;
}
.team-list .title {
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list .text {
  margin-top: 8px;
  margin-bottom: 0;
}
.team-list {
  display: flex;
}
.team-list .item {
  margin-left: 24px;
  list-style-type: none;
  background: #ffffff;
}

/* Footer*******************************************/
.footer-color {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.header-studio-item {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

/* Portfolio . html */

/* BUTTONS */
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border: none;
}

.list {
  list-style: none;
}

.section-ul-item {
  list-style-type: none;
}

.img-link {
  background: #ffffff;
}
/* OUR PROJECTS */

.card-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
